<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Free Rooms</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Find A Free Room</h3>

  <ion-label>{{getNow()}}</ion-label>
  <ion-item>
    <ion-label>Start Time</ion-label>
    <ion-datetime displayFormat="h:mm A"  pickerFormat="h mm A" minuteValues ="0,15,30,45" [(ngModel)]="selStartTime"
                  id="StartTime"></ion-datetime>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Campus</ion-label>
      <ion-select [(ngModel)]="selCampus" (ngModelChange)="CampusChange($event)" id="Campus">
        <ion-option *ngFor="let campus of campuses" [value]="campus.campusId">{{campus.campusName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <p>Selected Value: {{ selCampus }}</p>
  <ion-list>
    <ion-item>
      <ion-label>Building</ion-label>
      <ion-select [(ngModel)]="selBuilding" (ngModelChange)="BuildingChange($event)" id="Building">
        <ion-option *ngFor="let building of optionBuildings" [value]="building.buildingId">{{building.buildingName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Room Type</ion-label>
      <ion-select [(ngModel)]="selRoomType" id="RoomType">
        <ion-option *ngFor="let roomtype of optionRoomTypes" [value]="roomtype">{{roomtype}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <button ion-button secondary (click)="openResultsPage()">Show Results</button>
  <ion-content has-header="true" padding="true">
    <a class="button icon-right ion-chevron-right" href="#/second">Go to the second page!</a>
  </ion-content>


</ion-content>
