<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Free Rooms</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    This is the free room page.
  </p>
  <ion-label>{{getNow()}}</ion-label>
  <ion-item>
    <ion-label>Start Time</ion-label>
    <ion-datetime displayFormat="h:mm A"  pickerFormat="h mm A" minuteValues ="0,15,30,45" [(ngModel)]="now"></ion-datetime>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Campus</ion-label>
      <ion-select [(ngModel)]="selCampus">
        <ion-option *ngFor="let campus of campuses" [value]="campus.campusId">{{campus.campusName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Building</ion-label>
      <ion-select [(ngModel)]="selBuilding">
        <ion-option *ngFor="let building of buildings" [value]="building.campusId">{{campus.campusName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <button ion-button secondary menuToggle>Toggle Menu</button>



</ion-content>
